<div style="width: 100%;">
    <h1>Employees Skills and Contact Details</h1>    
    <div style="clear: both;"></div>

    <div *ngIf="showGrid">

        <!-- Because we are using the Angular ID (ie #ag-grid marker), we have to have all the items that use
             that marker inside the same ng-if as the grid
        </div>-->
        <div style="clear: both;"></div>

        <ag-grid-angular style="width: 100%; height: 800px;" class="ag-theme-dark"

                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [showToolPanel]="true"
                     [rowData]="rowData"
                     [pagination]="true"
                     enableColResize
                     enableSorting
                     enableFilter
                     groupHeaders
                     suppressRowClickSelection
                     toolPanelSuppressGroups
                     toolPanelSuppressValues
                     rowHeight="40"
                     rowSelection="multiple"

                     (modelUpdated)="onModelUpdated()"
                     (cellClicked)="onCellClicked($event)"
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
                     (cellContextMenu)="onCellContextMenu($event)"
                     (cellValueChanged)="onCellValueChanged($event)"
                     (cellFocused)="onCellFocused($event)"
                     (rowSelected)="onRowSelected($event)"
                     (selectionChanged)="onSelectionChanged()"
                     (beforeFilterChanged)="onBeforeFilterChanged()"
                     (afterFilterChanged)="onAfterFilterChanged()"
                     (filterModified)="onFilterModified()"
                     (beforeSortChanged)="onBeforeSortChanged()"
                     (afterSortChanged)="onAfterSortChanged()"
                     (virtualRowRemoved)="onVirtualRowRemoved($event)"
                     (rowClicked)="onRowClicked($event)"
                     (gridReady)="onReady($event)"

                     (columnEverythingChanged)="onColumnEvent($event)"
                     (columnRowGroupChanged)="onColumnEvent($event)"
                     (columnValueChanged)="onColumnEvent($event)"
                     (columnMoved)="onColumnEvent($event)"
                     (columnVisible)="onColumnEvent($event)"
                     (columnGroupOpened)="onColumnEvent($event)"
                     (columnResized)="onColumnEvent($event)"
                     (columnPinnedCountChanged)="onColumnEvent($event)">
        </ag-grid-angular>
    </div>

</div>